# PostgreSQL database connection
DATABASE_URL=postgresql+psycopg://postgres:your_password_here@localhost:5432/freight_ocr

# File & directory locations
INPUT_DOC_LOCATION=./input_doc_location
PROCESSED_DOCUMENTS_LOCATION=./processed_documents

# Application settings
PROJECT_NAME=Handwritten Freight Bill OCR
DEBUG=false
TESTING=false

